body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Warna abu-abu muda */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db; /* Biru cerah */
    font-size: 2.5em;
    margin-bottom: 10px;
}

.subtitle {
    color: #7f8c8d; /* Abu-abu sedang */
    font-size: 1.1em;
}
